# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

# Node / Next.js
/node_modules
/.next
/out
/build
*.tsbuildinfo
next-env.d.ts

# Env
.env
.env.local
.env*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editors
.vscode
.idea
